i {
    color: red;
}

#account_tree {
    position: fixed;
    width: 350px;
    left: 10px;
    top: 10px;
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: alice blue;
}

#main_div {
    position: fixed;
    left: 370px;
    top: 10px;
    overflow-x: auto;
    overflow-y: auto;
}
