i {
    color: red;
}

#account_tree {
    position: fixed;
    width: 300px;
    left: 10px;
    top: 10px;
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: alice blue;
}

#main_div {
    position: fixed;
    left: 320px;
    top: 10px;
    bottom: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: auto;
}

.transactions_list {
    font-family: ProggyTinyTTSZ, Lucida Console;
    font-size: 12pt;
    line-height: 12pt;
}
