{% load vertfolia_tags %}
{% load key %}

{% if is_root %}
<ul class="treeview" id="tree">
{% else %}
<ul style="display: none;">
{% endif %}

  {% for child in children %}
	<li{% if child.children.count > 0 %} class="expandable"{% endif %}>
	  {% if child.children.count > 0 %}
		<div class="hitarea expandable-hitarea"></div>
	  {% endif %}
	  
	  <a onclick="show_transactions({{ child.id }})">
	  {{ child.long_name }}
		<span id="account_balance_{{ child.id }}">
			{{ account_balances|key:child.id }} 
		</span>
	  </a>
	{% if child.children.count > 0 %}
	  {% display_tree child account_balances False %}
	{% endif %}
	</li>
  {% endfor %}
</ul>

<!-- previous money display 

	  {% for moneyunit in account_balances|key:child.id %}
		{% if account_balances|key:child.id|key:moneyunit != 0 %}
		  {{ moneyunit }}
		  {{ account_balances|key:child.id|key:moneyunit|floatformat:2 }}
		{% endif %}
	  {% endfor %}

-->
