{% load staticfiles %}
{% load vertfolia_tags %}

<head>
	<link rel="stylesheet" href="{% static "js/jquery.treeview.css" %}" />
	<link rel="stylesheet" href="{% static "js/screen.css" %}"/>
	<link rel="stylesheet" href="{% static "css/main.css" %}"/>
	<script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
	<script src="{% static "js/jquery.treeview.js" %}"></script>

	<!-- jquery UI -->
	<link rel="stylesheet" href="{% static "js/jquery-ui-1.10.4.custom/css/flick/jquery-ui-1.10.4.custom.css" %}" />
	<script src="{% static "js/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js" %}"></script>
	
	<script type="text/javascript">
  $(function () {
	$("#tree").treeview({
	  animated: "fast",
	  control:"#sidetreecontrol",
	  prerendered: true,
	  persist: "location"
	});

	// jquery ui

    $("#start_date").datepicker({ dateFormat: "d/m/yy", defaultDate: +8 });
    $("#end_date").datepicker({ dateFormat: "d/m/yy" });
    

    $("#tabs").tabs();
    
	var account_short_names = [
{% autoescape off %}
	 "{{ account_short_names }}"
{% endautoescape %}
	];

	$("#add_transaction_debit_name").autocomplete({
	  source: account_short_names
	});
	$("#add_transaction_credit_name").autocomplete({
	  source: account_short_names
	});
	$("#active_account").autocomplete({
	  source: account_short_names
	});

  })

// var selected_field = "none";


// Handle clicks on tree
function tree_account_click_handler(account_short_name) {
  $("#active_account").val(account_short_name);
  $("#view_transactions_form").submit();
  $("#view_transactions_tab_link").click();
}

	</script>
  </head>
  <body>

  <div id="account_tree">
{% include "vertfolia/tree.html" %}
</div>

<div id="main_div">
Welcome to VertFolia, {{ user.username }}!
<br>
{{ time|date:"j/n/Y G:i" }}
<br>
<br><br>

<!--
<i>Place start/end dates here - on update, send Ajax request that refreshes both the tree and currently open transaction list</i>
  <br><br>
  -->

<form id="time_window_form">
  {% csrf_token %}
  Start date: <input type="text" id="start_date" name="start_date_formatted" value="{{ earliest_date|date:"j/n/Y" }}">
  End date: <input type="text" id="end_date" name="end_date_formatted" value="{{ time|date:"j/n/Y" }}">

</form>
  

  <!-- TABS -->
  <div id="tabs">
  <ul>
  <li><a href="#tabs_add_transaction">Add transaction</a></li>
  <li><a href="#tabs_view_transactions" id="view_transactions_tab_link">View transactions</a></li>

  <div id="tabs_add_transaction">
  <br><br>
  <form id="add_transaction_form">
  <!-- action="{% url 'add_transaction' %}" method="get"> -->
  {% csrf_token %}
  <i> DATE / TIME </i><br>
  desc: <input type="text" name="description">
  value: <input type="text" name="value" size="10"><br>
  
  debit acct: <input type="text" name="debit" size="9" id="add_transaction_debit_name">
  credit acct: <input type="text" name="credit" size="9" id="add_transaction_credit_name">

<br>
  <!-- Click interface -->
<!--  debit acct num: <input type="text" name="debit" size="4" id="add_transaction_debit_id" onclick="selected_field='add_transaction_debit'; this.value='<< click';">
  credit acct num: <input type="text" name="credit" size="4" id="add_transaction_credit_id" onclick="selected_field='add_transaction_credit'; this.value='<< click';;">
  -->

  <input type="submit">
  </form>
</div> <!-- close add_transaction -->

  <div id="tabs_view_transactions">
  <br><br>
  <form id="view_transactions_form">
  {% csrf_token %}
  <input type="text" name="active_account" id="active_account">
  <input type="submit">
  </form>
  <div id="transactions">
  </div>
  </div>


  </div> <!-- CLOSE TABS -->
  
  <br><br>
  

</div> <!-- main div -->
  </body>
  
<script>

var request;

function update_tree() {
  var form = $("#time_window_form");
  var serializedData = form.serialize();

  if (request) {
    request.abort();
  }
  
  request = $.ajax({
    url: "{% url 'update_tree' %}",
    type: "POST",
    data: serializedData
  });

  request.done(function (response, textStatus, jqXHR) {
//    alert("done updating tree");
	  $.each(response, function (key, val) {
		// update tree balances
		$('#account_balance_'+key).html(val);
	  });
      if ($("#active_account").val() != "") {
        $("#view_transactions_form").submit();
      }
  });
  request.fail(function (jqXHR, textStatus, errorThrown) {
	alert("update tree error: " + errorThrown);
  });

  request.always(function () {
    //    alert("always update tree");
    
  });
  
}

// on date change
$("#start_date").change(function (event) {
  update_tree();
});
$("#end_date").change(function (event) {
  update_tree();
});

  
  $("#add_transaction_form").submit(function (event) {
	if (request) {
	  request.abort();
	}

	var form = $(this);
	var inputs = form.find("input");
	var serializedData = form.serialize();

	inputs.prop("disabled", true);
	request = $.ajax({
	  url: "{% url 'add_transaction' %}",
	  type: "POST",
	  data: serializedData
	});

	request.done(function (response, textStatus, jqXHR) {
      update_tree();
	});

	request.fail(function (jqXHR, textStatus, errorThrown) {
	  alert("ADD TRANSACTION error: " + errorThrown);
	});

	request.always(function () {
	  inputs.prop("disabled", false);
	  $("#add_transaction_form").find("input[type=text]").val("");
	});

	event.preventDefault();
  });

$("#view_transactions_form").submit(function (event) {
  if (request) {
    request.abort();
  }
  var form = $(this);
  var serializedData = form.serialize();

  // add date info from time_window / = %2F
  serializedData += "&start_date_formatted=" + $("#start_date").val().replace(/\//g, "%2F");
  serializedData += "&end_date_formatted=" + $("#end_date").val().replace(/\//g, "%2F");
  
  request = $.ajax({
    url: "{% url 'view_transactions' %}",
    type: "POST",
    data: serializedData
  });

  request.done(function (response, textStatus, jqXHR) {
    $("#transactions").html(response);
  });

  request.fail(function (jqXHR, textStatus, errorThrown) {
	alert("VIEW TRANSACTIONS error: " + errorThrown);
  });

  request.always(function () {

  });

  event.preventDefault();  
});
</script>

