{% load staticfiles %}
{% load vertfolia_tags %}

<head>
	<link rel="stylesheet" href="{% static "js/jquery.treeview.css" %}" />
	<link rel="stylesheet" href="{% static "js/screen.css" %}"/>
	<link rel="stylesheet" href="{% static "css/main.css" %}"/>
	<script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
	<script src="{% static "js/jquery.treeview.js" %}"></script>

	<!-- jquery UI -->
	<link rel="stylesheet" href="{% static "js/jquery-ui-1.10.4.custom/css/flick/jquery-ui-1.10.4.custom.css" %}" />
	
	<script src="{% static "js/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js" %}"></script>
	
	<script type="text/javascript">
  $(function () {
	$("#tree").treeview({
	  animated: "fast",
	  control:"#sidetreecontrol",
	  prerendered: true,
	  persist: "location"
	});

	// jquery ui

	$("#start_date").datepicker({ dateFormat: "d/m/yy" });
	$("#end_date").datepicker({ dateFormat: "d/m/yy" });

	$("#add_transaction_day").datepicker({ dateFormat: "d/m/yy" });

	$("#tabs").tabs();
	
	var account_short_names = [
{% autoescape off %}
	 "{{ account_short_names }}"
{% endautoescape %}
	];

	$("#add_transaction_debit_name").autocomplete({
	  source: account_short_names,
	  delay: 5
	});
	$("#add_transaction_credit_name").autocomplete({
	  source: account_short_names,
	  delay: 5
	});
	$("#active_account").autocomplete({
	  source: account_short_names,
	  delay: 5
	});

  })

// Handle clicks on tree
function tree_account_click_handler(account_short_name) {
  $("#active_account").val(account_short_name);
  $("#view_transactions_form").submit();
  $("#view_transactions_tab_link").click();
}

	</script>
  </head>
  <body>

<!-- ACCOUNT TREE -->
<div id="account_tree">
  {% include "vertfolia/tree.html" %}
</div>

<!-- MAIN DIV -->
<div id="main_div">
  Welcome to VertFolia, {{ user.username }}!
  <i>LOGIN / LOGOUT</i> [ <a href="/admin/" target="vertfolia_admin">admin</a> ]

<!--{{ time|date:"j/n/Y G:i" }} (UTC {{ time.hour }}:{{ time.minute }}) -->

<hr>

<!-- TIME WINDOW -->
<form id="time_window_form">
  {% csrf_token %}
  
  <i><a id="earliest_date_autofill" href="?#">All dates</a></i> |
  <i><a id="last_year_autofill" href="?#">365 days back</a></i> |
  <i><a id="last_month_autofill" href="?#">30 days back</a></i> |
  <i><a id="last_week_autofill" href="?#">Last week</a></i> |
  <i><a id="same_day_autofill" href="?#">Same day</a></i></br>
  
  <br>	
  Start: <input type="text" id="start_date" name="start_date_formatted" value="{{ earliest_date|date:"j/n/Y" }}" size="8">
  
  End: <input type="text" id="end_date" name="end_date_formatted" value="{{ time|date:"j/n/Y" }}" size="8"> <a onclick="$('#end_date').val('{{ time|date:"j/n/Y" }}'); update_views();">(end=today)</a>

</form>
  

  <!-- TABS -->
  <div id="tabs">
	<ul>
	<li><a href="#tabs_add_transaction"><b>Add transaction</b></a></li>
	<li><a href="#tabs_view_transactions" id="view_transactions_tab_link"><b>View transactions</b></a></li>
	<li><a href="#tabs_daily_expenses"><b>Daily expenses</b></a></li>

	<div id="tabs_add_transaction">
	  <br><br>
	  <form id="add_transaction_form">
		<!-- action="{% url 'add_transaction' %}" method="get"> -->
		{% csrf_token %}

		Date: <input id="add_transaction_day" name="day" size="10" value="{{ time|date:"j/n/Y" }}">
		Time: <input id="add_transaction_time" name="time" size="10" value="{{ time|date:"H:i" }}">

		<br>
		
		desc: <input type="text" name="description" size="40"><br>
		value: <input type="text" name="value" size="10"><br>
  
		debit acct: <input type="text" name="debit" size="9" id="add_transaction_debit_name">
		credit acct: <input type="text" name="credit" size="9" id="add_transaction_credit_name">

		<br>
  
  <!-- Click interface -->
<!--  debit acct num: <input type="text" name="debit" size="4" id="add_transaction_debit_id" onclick="selected_field='add_transaction_debit'; this.value='<< click';">
  credit acct num: <input type="text" name="credit" size="4" id="add_transaction_credit_id" onclick="selected_field='add_transaction_credit'; this.value='<< click';;">
  -->

		<input type="submit">
	  </form>
	  <pre class="transactions_list"><div id="latest_transactions">{% for transaction in latest_transactions %}{{ transaction }}
{% endfor %}</div></pre>
	  
	  <form id="latest_transactions_form">
		{% csrf_token %}
	  </form>
	  
	</div> <!-- close add_transaction -->

	<div id="tabs_view_transactions">
	  <br><br>

	  <form id="view_transactions_form">
		{% csrf_token %}

		include children accounts <input type="checkbox" name="include_children" onchange="$('#view_transactions_form').submit()"/><br>
		
		Account short name: <input type="text" name="active_account" id="active_account" size="8" value="{{ user.username }}" onclick="this.value=''">
		<input type="submit">
	  </form>

	  <pre class="transactions_list"><div id="transactions"></div></pre>
	</div>

	<div id="tabs_daily_expenses">
	  <br><br>
	  
	  <form id="daily_expenses_form">
		{% csrf_token %}
		<input type="submit" value="Refresh list"> (will not auto-update when adding transactions)
	  </form>
	  <pre class="transactions_list"><div id="daily_expenses"></div></pre>
	
	</div> <!-- CLOSE DAILY EXPENSES TAB -->

  </div> <!-- CLOSE TABS -->
  
  <br><br>
  

</div> <!-- main div -->
  </body>
  
<script>

function days_back(delta_days) {
  var end_date_string = $("#end_date").val();
  var end_date_components = end_date_string.split("/");

  var today = new Date(end_date_components[2], end_date_components[1] - 1,
					   end_date_components[0]);
  var today_in_millis = today.valueOf();
  var millis_difference = delta_days * 24 * 60 * 60 * 1000;
  var previous_date = new Date(today_in_millis - millis_difference);

  return previous_date.getUTCDate() + "/" + (previous_date.getUTCMonth() + 1) + "/" + previous_date.getUTCFullYear();
}

function add_autofill_handler(id, days) {
  $(id).click(function (event) {
	$("#start_date").val(days_back(days));
	update_views();
	event.preventDefault();
  });
}

// RESET TIME WINDOW
$("#earliest_date_autofill").click(function (event) {
  $("#start_date").val("{{ earliest_date|date:"j/n/Y" }}");
  $("#end_date").val("{{ time|date:"j/n/Y" }}");
  update_views();
  event.preventDefault();
});

add_autofill_handler("#last_year_autofill", 365);
add_autofill_handler("#last_month_autofill", 30);
add_autofill_handler("#last_week_autofill", 7);
add_autofill_handler("#same_day_autofill", 0);

/////////////////
// AJAX
/////////////////


// Add transaction > update tree > update view transactions > update latest

var request;

function update_views() {
  var form = $("#time_window_form");
  var serializedData = form.serialize();

  if (request) {
	request.abort();
  }
  
  request = $.ajax({
	url: "{% url 'update_tree' %}",
	type: "POST",
	data: serializedData
  });

  request.done(function (response, textStatus, jqXHR) {
	  $.each(response, function (key, val) {
		// update tree balances
		$('#account_balance_'+key).html(val);
	  });
	  
	  // update "View transactions" tab
	  if ($("#active_account").val() != "") {
		$("#view_transactions_form").submit();
	  }
  });
  request.fail(function (jqXHR, textStatus, errorThrown) {
	alert("update tree error: " + errorThrown);
  });

  request.always(function () {
	//	  alert("always update tree");
  });
  
}

// on date change
$("#start_date").change(function (event) {
  update_views();
});
$("#end_date").change(function (event) {
  update_views();
});

  
  $("#add_transaction_form").submit(function (event) {
	if (request) {
	  request.abort();
	}

	var form = $(this);
	var inputs = form.find("input");
	var serializedData = form.serialize();

	inputs.prop("disabled", true);
	request = $.ajax({
	  url: "{% url 'add_transaction' %}",
	  type: "POST",
	  data: serializedData
	});

	request.done(function (response, textStatus, jqXHR) {
	  update_views();
	  //	  $("#latest_transactions_form").submit();
	});

	request.fail(function (jqXHR, textStatus, errorThrown) {
	  alert("ADD TRANSACTION error: " + errorThrown);
	});

	request.always(function () {
	  inputs.prop("disabled", false);
	  $("#add_transaction_form").find("input[type=text]").val("");
	});

	event.preventDefault();
  });

$("#view_transactions_form").submit(function (event) {
  if (request) {
	request.abort();
  }
  var form = $(this);
  var serializedData = form.serialize();

  // add date info from time_window / = %2F
  serializedData += "&start_date_formatted=" + $("#start_date").val().replace(/\//g, "%2F");
  serializedData += "&end_date_formatted=" + $("#end_date").val().replace(/\//g, "%2F");
  
  request = $.ajax({
	url: "{% url 'view_transactions' %}",
	type: "POST",
	data: serializedData
  });

  request.done(function (response, textStatus, jqXHR) {
	$("#transactions").html(response);
	$("#latest_transactions_form").submit();
  });

  request.fail(function (jqXHR, textStatus, errorThrown) {
	alert("VIEW TRANSACTIONS error: " + errorThrown);
  });

  request.always(function () {

  });

  event.preventDefault();  
});

$("#latest_transactions_form").submit(function (event) {
  if (request) {
	request.abort();
  }

  var form=$(this);
  var serializedData = form.serialize();
  
  request = $.ajax({
	url: "{% url 'view_latest_transactions' %}",
	type: "POST",
	data: serializedData
  });

  request.done(function (response, textStatus, jqXHR) {
	$("#latest_transactions").html(response);
  });

  request.fail(function (jqXHR, textStatus, errorThrown) {
	alert("VIEW LATEST TRANSACTIONS error: " + errorThrown);
  });

  request.always(function () {

  });

  event.preventDefault();
});

$("#daily_expenses_form").submit(function (event) {
  if (request) {
	request.abort();
  }
  var form = $(this);
  var serializedData = form.serialize();

  // add date info from time_window / = %2F
  serializedData += "&start_date_formatted=" + $("#start_date").val().replace(/\//g, "%2F");
  serializedData += "&end_date_formatted=" + $("#end_date").val().replace(/\//g, "%2F");
  
  request = $.ajax({
	url: "{% url 'view_daily_expenses' %}",
	type: "POST",
	data: serializedData
  });

  request.done(function (response, textStatus, jqXHR) {
	$("#daily_expenses").html(response);
  });

  request.fail(function (jqXHR, textStatus, errorThrown) {
	alert("Daily Expenses error: " + errorThrown);
  });

  request.always(function () {

  });

  event.preventDefault();  
});

</script>
